<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/login.css" />
</head>

<body>
    <div id="login">
        <h1>Connect to SparkSql</h1>
        <form action="http://localhost:5000/init" method="post">
            <input type="text" required="required" placeholder="主机" name="Net"></input>
            <input type="text" required="required" placeholder="端口" name="Port"></input>
            <input type="text" required="required" placeholder="数据库" name="Db"></input>
            <input type="text" required="required" placeholder="用户" name="User"></input>
            <input type="password" required="required" placeholder="密码" name="Password"></input>
            <button class="but" type="submit">登录</button>
        </form>
    </div>
</body>

</html>